.button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  dislpay: inline-block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  padding: var(--space-sm) var(--space-md);
  line-height: var(--line-height-md);
  color: var(--color-00);
  background: var(--color-60);
  border-radius: var(--radius-sm);
  border: var(--border);
  border-color: transparent;
  transition: all 0.3s ease;
  user-select: none;

  &:hover {
    background-color: var(--color-70);
  }

  &.subtle {
    color: var(--color-60);
    background: var(--color-05);

    &:hover {
      color: var(--color-70);
      background: var(--color-10);
    }
  }

  &.ghost {
    color: var(--color-60);
    background: var(--color-00);

    &:hover {
      color: var(--color-70);
      background-color: var(--color-10);
    }
  }

  &.outline {
    color: var(--color-60);
    background: transparent;
    border-color: var(--color-30);

    &:hover {
      color: var(--color-70);
      background: var(--color-10);
      border-color: var(--color-50);
    }
  }

  &.link {
    background: transparent;
    color: var(--color-60);
    padding: 0;
    display: inline;
    line-height: inherit;
    text-decoration: underline;
    text-decoraction-skip-ink: auto;
    text-decoration-color: var(--color-20);

    &:hover {
      color: var(--color-70);
      background: transparent;
      text-decoration-color: var(--color-50);
    }
  }
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  width: 100%;
  padding: var(--space-xs) var(--space-sm);
  border: var(--border);
  border-radius: var(--radius-sm);
  background: var(--color-00);

  &:autofill {
    background: var(--color-00);
  }
}
